<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employer">
            <h2><span jhiTranslate="zipConnectApp.employer.detail.title">Employer</span> {{employer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zipConnectApp.employer.employerId">Employer Id</span></dt>
                <dd>
                    <span>{{employer.employerId}}</span>
                </dd>
                <dt><span jhiTranslate="zipConnectApp.employer.companyName">Company Name</span></dt>
                <dd>
                    <span>{{employer.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="zipConnectApp.employer.city">City</span></dt>
                <dd>
                    <span>{{employer.city}}</span>
                </dd>
                <dt><span jhiTranslate="zipConnectApp.employer.state">State</span></dt>
                <dd>
                    <span>{{employer.state}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employer', employer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
